---

---
@charset "utf-8";

// Import fonts
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

// Set variables
$gray-darker: rgba(0, 0, 0, 0.8);
$gray-dark: rgba(0, 0, 0, 0.67);
$gray: rgba(0, 0, 0, 0.55);
$gray-light: rgba(0, 0, 0, 0.4);
$gray-lighter: rgba(0, 0, 0, 0.33);
$gray-lightest: rgba(0, 0, 0, 0.04);

$yellow-light: #ffda9e;
$yellow: #fcc394;
$peach-light: #f9ad8a;
$peach: #f69780;
$peach-dark: #f48177;
$magenta-light: #f1696f;
$magenta: #ef4d66;

$blue-light: #5085ab;
$blue: #3d6584;
$blue-dark: #2f4b62;

$purple-light: #9a91c6;
$purple: #817cb7;
$purple-dark: #514e79;

$font-sans-serif: 'Open Sans', sans-serif;
$font-serif: 'Lora', serif;
$font-monospace: 'Ubuntu Mono', monospace;
$font-color: $gray-darker;
$font-size: 18px;
$font-line-height: ( $font-size * 1.6 );

$mobile-max: 760px;

@import "reset";
@import "splash";
@import "social-buttons";
