---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent Posts</h1>

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">
          <time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          {% unless post.categories == empty %}
          <span>&nbsp;&#124;&nbsp;
            {% for category in post.categories %}
              {{ category }}{% unless category == post.categories.last %},{% endunless %}
            {% endfor %}
          </span>
          {% endunless %}
        </p>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
