</main>
<footer>
  <a class="rss-link" href="http://tomvanantwerp.com/feed.xml"><i class="fa fa-rss"></i></a>
  <a class="twitter-link" href="https://twitter.com/tvanantwerp"><i class="fa fa-twitter"></i></a>
  <a class="github-link" href="https://github.com/tvanantwerp"><i class="fa fa-github-alt"></i></a>
  <a class="dribbble-link" href="https://dribbble.com/tvanantwerp"><i class="fa fa-dribbble"></i></a>
  <a class="instagram-link" href="https://instagram.com/tomvanantwerp/"><i class="fa fa-instagram"></i></a>
</footer>
