</main>
<footer>
  <a class="rss-link" href="http://tomvanantwerp.com/feed.xml"><i class="fa fa-rss"></i></a>
  <a class="twitter-link" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
  <a class="github-link" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-alt"></i></a>
  <a class="dribbble-link" href="https://dribbble.com/{{ site.dribbble_username }}"><i class="fa fa-dribbble"></i></a>
  <a class="angelco-link" href="https://angel.co/{{ site.angelco_username }}"><i class="fa fa-angellist"></i></a>
  <a class="instagram-link" href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a>
</footer>
<!-- Scripts -->
<script type="text/javascript" src="/js/main.js"></script>
