footer {
  border-top: 1px solid $gray-lighter;
  padding: 15px;

  > a {
    color: $gray;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.1s ease-in;

    &:visited {
      color: $gray;
    }
  }

  p {
    color: $font-color;
    font-family: $font-sans-serif;
    font-size: $font-size;
    line-height: $font-line-height;
    font-weight: 400;
  }
}
