.meta-and-sharing {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.author-thumbnail {
  display: inline;
  height: auto;
  margin: 0 10px 0 0;
  width: auto;
}

.post-meta {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  p {
    color: $gray;
    font-family: $font-sans-serif;
    font-size: ( $font-size * 0.8 );
    line-height: ( $font-line-height * 0.8 );
    margin: 0;
  }
}
