html,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $gray-lightest;
}

article,
main,
section {
  padding: 0 15px;

  article,
  main,
  section {
    padding: 0
  }
}

hr {
  border: 0;
  background-color: $gray-lighter;
  color: $gray-lighter;
  height: 1px;
  margin: 15px -15px;
}

img {
  margin: 0;
  width: 100%;
}

@media (max-width: $mobile-max) {
  html, body {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $mobile-max + 1) {
  html, body {
    margin: 0 auto;
    padding: 0;
    width: $mobile-max;
  }

  article img.thumbnail {
    margin: 0 0 12px;
    max-width: 100%;
    width: 100%;
  }
}

footer {
  text-align: center;
}
