html,
body {
  background-color: $gray-lightest;
}

article,
main,
section {
  padding: 0 15px;

  article,
  main,
  section {
    padding: 0
  }
}

hr {
  border: 0;
  background-color: $gray-lighter;
  color: $gray-lighter;
  height: 1px;
  margin: 15px -15px;
}

img {
  margin: 0;
  width: 100%;
}

@media (max-width: 760px) {
  html, body {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 760px) {
  html, body {
    margin: 0 auto;
    padding: 0;
    width: 760px;
  }

  img.thumbnail {
    float: right;
    margin: 12px 0 12px 20px;
    max-width: 30%;
  }
}

ul.post-list > li {
  @extend %clearfix;

  border-bottom: 1px solid $gray-lighter;
  padding: 15px 0 20px 0;

  &:first-child {
    padding: 0 0 20px 0;
  }

  &:last-child {
    border: none;
    padding: 15px 0 0 0;
  }

  > h2,
  > p {
    margin: 0 0 0 0;
  }
}

footer {
  text-align: center;
}
