table {
  border: 2px solid $gray-lighter;
  border-collapse: collapse;
  font-family: $font-sans-serif;
  font-size: ( $font-size * 0.8 );
  font-weight: 400;
  line-height: ( $font-line-height * 0.8 );
  margin: 0 auto $font-line-height auto;
  padding: 0;

  thead,
  tbody {
    margin: 0;
    padding: 0;
  }

  thead {
    background-color: $gray-lightest;
  }

  th,
  td {
    border: 1px solid $gray-lighter;
    margin: 0;
    padding: 10px 15px;

    p, li {
      font-family: $font-sans-serif;
      font-size: ( $font-size * 0.8 );
      font-weight: 400;
      line-height: ( $font-line-height * 0.8 );
    }

    th {
      font-weight: 700;
    }

    td {
      font-variant: tabular-nums;
    }

    p, ol {
      margin-bottom:18px;
    }

    ol {
      margin-left: 20px;
    }
  }
}
