%default-article-fonts {
  color: $font-color;
  font-family: $font-serif;
  font-size: $font-size;
  line-height: $font-line-height;


  @media (max-width: 760px) {
    font-size: ( $font-size * 0.83 );
    line-height: ( $font-line-height * 0.83 );
  }
}

%default-post-meta {
  color: $gray-light;
  font-family: $font-sans-serif;
  font-size: ( $font-size * 0.7 );
  line-height: ( $font-line-height * 0.7 );
  margin: 0 0 5px 0;
}

p,
dl,
input,
label,
legend,
li {
  @extend %default-article-fonts;
  font-weight: 400;
}

p,
blockquote,
ul,
pre {
  margin: 0 0 $font-line-height;
}

p.post-meta {
  @extend %default-post-meta;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

strong > em,
em > strong {
  @extend %default-article-fonts;
  font-weight: 700;
  font-style: italic;
}

a {
  color: $magenta;
  text-decoration: none;

  &:hover {
    color: $peach-dark;
    text-decoration: none;
  }

  &:visited {
    color: $magenta-light;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color;
  font-family: $font-sans-serif;
  font-weight: 400;
  margin: 0 0 $font-line-height;
}

h1 {
  font-size: ( $font-size * 2 );
  font-weight: 700;
  line-height: ( $font-line-height * 1.6 );

  &.post-title {
    margin: 0 0 5px 0;
  }
}

h2 {
  font-size: ( $font-size * 1.6 );
  font-weight: 700;
  line-height: ( $font-line-height * 1.4 );
}

h3 {
  font-size: ( $font-size * 1.4 );
  line-height: ( $font-line-height * 1.2 );
}

h4 {
  font-size: ( $font-size * 1.2 );
  line-height: ( $font-line-height * 1.2 );
}

h5 {
  font-size: ( $font-size * 1.1 );
  line-height: ( $font-line-height * 1.2 );
}

h6 {
  font-size: ( $font-size * 1.1 );
  font-style: italic;
  line-height: ( $font-line-height * 1.1 );
}

ol {
  list-style-type: decimal;
  margin: 0 0 $font-line-height 35px;
}

ul {
  list-style-type: disc;
  margin: 0 0 $font-line-height 35px;
}


blockquote {
  border-left: 2px solid $magenta;
  margin: $font-line-height 0;
  padding: 0 40px;

  %default-blockquote-fonts {
    color: $gray-dark;
    font-size: ( $font-size * 0.9 );
    font-style: italic;
    font-weight: 400;
    line-height: ( $font-line-height * 0.9 );
  }

  p {
    @extend %default-blockquote-fonts;
  }

  em {
    @extend %default-blockquote-fonts;
    font-style: normal;
  }

  strong {
    @extend %default-blockquote-fonts;
    font-weight: 700;
  }

  strong > em,
  em > strong {
    @extend %default-blockquote-fonts;
    font-style: normal;
    font-weight: 700;
  }
}

button,
input,
select,
textarea {
  background-color: $magenta;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: $font-sans-serif;
  font-size: ( $font-size * 0.8 );
  font-weight: 400;
  line-height: ( $font-line-height * 0.8 );
  margin: 0 0 $font-line-height 0;
  padding: 2px 7px;
}

button,
.button {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
}

// These 4 prefixed styles are all necessary to change the color of placeholder text
::-webkit-input-placeholder {
 color: white;
 font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-style: italic;
}

:-ms-input-placeholder {
   color: white;
   font-style: italic;
}

cite {
  font-style: italic;
}

code,
kbd,
samp,
var {
  background: $gray-lightest;
  border-radius: 5px;
  color: $purple-dark;
  display: inline-block;
  font-family: $font-monospace;
  font-size: 14px;
  line-height: 20px;
  padding: 0 7px 1px 7px;
  transform: translateY(-1px);

  code,
  kbd,
  samp,
  var {
    background-color: none;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    transform: none;
  }
}

del,
s {
  color: $gray-light;
  text-decoration: line-through;

  em,
  strong {
    color: inherit;
    text-decoration: inherit;
  }
}

ins {
  color: $purple;
  text-decoration: none;

  em,
  strong {
    color: inherit;
  }
}

mark {
  background-color: $yellow-light;
  margin: 0 -2px;
  padding: 0 2px;
}

pre {
  background: $gray-lightest;
  border-left: 2px solid $magenta;
  font-size: ($font-size * 0.8);
  line-height: ($font-line-height * 0.8);
  padding: 15px;
  overflow-x: auto;

  code,
  kbd,
  samp,
  var {
    background-color: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    transform: none;
  }
}

q {
  &::before {
    content: "\201C"
  }

  &::after {
    content: "\201D"
  }

  > q {
    &::before {
      content: "\2018"
    }

    &::after {
      content: "\2019"
    }
  }
}

small {
  color: $gray;
  font-size: ( $font-size * 0.8 );
  line-height: ( $font-line-height * 0.8 );
}

sub {
  vertical-align: sub;
  font-size: ( $font-size * 0.8 );
  line-height: ( $font-line-height * 0.8 );
}

sup {
  vertical-align: super;
  font-size: ( $font-size * 0.8 );
  line-height: ( $font-line-height * 0.8 );
}

.pagination {
  border: 1px solid $magenta;
  color: $font-color;
  font-family: $font-sans-serif;
  font-size: $font-size;
  line-height: $font-line-height;
  padding: 10px;
  text-align: center;
}
