---
layout: default
---
<article itemscope itemtype="http://schema.org/Article">

  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <div class="meta-and-sharing">
    <div class="post-meta">
      <img class="author-thumbnail" src="/images/tom_poly-24x24.png" alt="Tom VanAntwerp">
      <p><span itemprop="author" itemscope itemptype="http://schema.org/Person">{{ page.author }}</span>
      on <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
    {% include social.html title=page.title %}
  </div>

  {% if page.thumbnail %}
    {% unless page.hide_thumbnail_in_post %}
      <a href="{{ page.thumbnail  | prepend: site.baseurl}}">
        <img class="thumbnail" src="{{ page.thumbnail }}">
      </a>
    {% endunless %}
  {% endif %}
  {{ content }}

</article>
<hr>
{% include mailchimp-signup.html %}
