---
layout: default
---
<article itemscope itemtype="http://schema.org/Article">

  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <p class="post-meta">
    <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
    {% if page.author %} by <span itemprop="author" itemscope itemptype="http://schema.org/Person">{{ page.author }}</span>{% endif %}
    {% if page.meta %} • {{ page.meta }}{% endif %}
  </p>
  {% include social.html title=page.title %}
  {% if page.thumbnail %}
    {% unless page.hide_thumbnail_in_post %}
      <a href="{{ page.thumbnail  | prepend: site.baseurl}}">
        <img class="thumbnail" src="{{ page.thumbnail }}">
      </a>
    {% endunless %}
  {% endif %}
  {{ content }}

</article>
<hr>
{% include mailchimp-signup.html %}
